@media (max-width: 768px) {
    .justifyContent {
        flex-direction: column;
    }
}
@media (max-width: 600px) {
    .buttonNew {
        width: 5rem;
        font-size: 0.7rem;
    }
}
.formRegister {
    border: solid gold 1px;
    background: linear-gradient(143deg, rgba(157,157,156,1) 0%, white 100%);
    font-family: restoqueBold;
    margin-top: 60px;
    margin-bottom: 30px
}
.cardRegister {
    width: 58vw;
    max-width: 780px;
    display: flex;
}
.divTabs {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardRegister label {
    width: 20%;
    margin-left: 7px;
    margin-right: 7px;
}
.cardRegister input {
    width: 65%;
    background-color: white;
    border: solid black 1px;
    outline: none;
    margin-bottom: 4px;
    margin-right: 7px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
}
.cardRegister select {
    width: 65%;
    background-color: white;
    border: solid black 1px;
    outline: none;
    margin-bottom: 4px;
    margin-right: 7px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
}
.cardRegister textarea {
    width: 100%
}
.justifyB {
    display:flex;
    width: 65%;
    justify-content: space-between;
    margin-right: 7px;
    margin-top: 2rem;
}
.buttonNew:hover {
    cursor: pointer;
    color: gold;
    background-color: black;
}
.tittle {
    margin-bottom: 2rem;
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(160deg, white, gold);
    font-size: 20px;
    position: relative;
}
.updateCard {
    width: 100%;
    height: 60px;
    border: none;
    border-bottom: solid rgba(157, 157, 156) 1px;
    background-color: rgb(255, 255, 255);
    color: #000000;
    font-size: 80%;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.updateCard span button {
    border: solid gold 2px;
    border-radius: 5px;
    padding: 4px;
    font-size: large;
}
.updateCard span button:hover {
    cursor: pointer;
}
.updateCard input {
    text-transform: uppercase;
    width: min-content;
    font-size: medium;
}
.updateCard input:hover {
    cursor: pointer;
}
.justifyUpload {
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.desc {
    resize: vertical;
}
@media (max-width:1320px){
    .updateCard {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-content: center;
        height: 2.5rem;
    }
}